{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ValuateAI{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'img/brand.png' %}">

    {% tailwind_css %}

    <link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}?v={{ static_version }}">

    <link rel="stylesheet" href="{% static 'vendor/notyf/notyf-3.10.0/notyf.min.css' %}?v={{ static_version }}">

    <link rel="stylesheet" href="{% static 'css/main.css' %}?v={{ static_version }}">

    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include 'components/messages.html' %}

    {% block content %}{% endblock %}

    <script src="{% static 'js/sweetalert2.min.js' %}?v={{ static_version }}"></script>
    <script src="{% static 'vendor/notyf/notyf-3.10.0/notyf.min.js' %}?v={{ static_version }}"></script>
    <script src="{% static 'js/utils.js' %}?v={{ static_version }}"></script>
    <script src="{% static 'js/components/message-handler.js' %}"></script>

    {% block extra_js %}{% endblock %}
</body>
</html>
